@charset "utf-8";
/*
Plugin Name: WP-Freelance
Plugin URI: http://www.seyhunakyurek.com/
Description: Creates freelance status message to your sidebar
Author: S.AKYUREK
Version: 1.0
Author URI: http://www.seyhunakyurek.com/
*/


#wp-freelance status {
	padding: 6px;
	float: left;
}
#wp-freelance img {
	margin: 4px;
	float:left;
}
